src/main/resources/xsd/ONB2_Hire_IN_Schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Onboardee">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="PersonId"/>
        <xs:element type="xs:int" name="UserId"/>
        <xs:element type="xs:dateTime" name="OriginalStartDate"/>
        <xs:element type="xs:string" name="Username"/>
        <xs:element name="ProcessData">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ProcessId"/>
              <xs:element type="xs:string" name="ProcessStatus"/>
              <xs:element type="xs:string" name="HiringStatus"/>
              <xs:element type="xs:string" name="PlannedHireDate"/>
              <xs:element type="xs:dateTime" name="ProcessStartDate"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>