SuccessFactors Onboarding 2 Integration with SAP HCM/src/main/resources/xsd/ONB2_Hire_OUT_Query_Schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="ReferenceID"/>
        <xs:element type="xs:string" name="ReferenceUUID"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>