src/main/resources/wsdl/ONB2_Service_Provider_WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:sprx:ep:cust:_cust" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:sprx:ep:cust:_cust" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="http://sap.com/xi/ONB2IN">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ONB2ReadyToHire_In">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_ONB2ReadyToHireNotification_In">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema targetNamespace="http://sap.com/xi/ONB2IN" xmlns="http://sap.com/xi/ONB2IN" xmlns:xi0="http://sap.com/xi/ONB2IN">
   <xsd:element name="OnboardingNewHirePushNotificationRequest" type="OnboardingNewHirePushNotiReq"/>
   <xsd:element name="OnboardingNewHirePushNotificationResponse" type="OnboardingNewHirePushNotiRes"/>
   <xsd:simpleType name="BusinessSystemID">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="60"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="EmployeeIdentification">
    <xsd:sequence>
     <xsd:element name="FieldName" type="LANGUAGEINDEPENDENT_EC_FieldName"/>
     <xsd:element name="Value" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="GLOBAL_DateTime">
    <xsd:restriction base="xsd:dateTime">
     <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Indicator">
    <xsd:restriction base="xsd:boolean"/>
   </xsd:simpleType>
   <xsd:simpleType name="LANGUAGEINDEPENDENT_EC_FieldName">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="128"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="OnboardingNewHirePushNotiReq">
    <xsd:sequence>
     <xsd:element name="MessageHeader" type="RequestMessageHeader"/>
     <xsd:element name="OnboardingProcessData" minOccurs="0" type="ProcessTechnicalInformation"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="OnboardingNewHirePushNotiRes">
    <xsd:sequence>
     <xsd:element name="QueryReferenceID" minOccurs="0" type="RequestID"/>
     <xsd:element name="QueryReferenceUUID" minOccurs="0" type="RequestUUID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="OnboardingProcessID">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="36"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ProcessTechnicalInformation">
    <xsd:sequence>
     <xsd:element name="TransformationTemplateGroup">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
        <xsd:minLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="EmployeeIdentification" minOccurs="0" maxOccurs="unbounded" type="EmployeeIdentification"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RequestID">
    <xsd:simpleContent>
     <xsd:extension base="RequestID.Content"/>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="RequestID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:maxLength value="35"/>
     <xsd:minLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="RequestMessageHeader">
    <xsd:sequence>
     <xsd:element name="ID" minOccurs="0" type="RequestID"/>
     <xsd:element name="UUID" minOccurs="0" type="RequestUUID"/>
     <xsd:element name="CreationDateTime" type="GLOBAL_DateTime"/>
     <xsd:element name="TestModeIndicator" minOccurs="0" type="Indicator"/>
     <xsd:element name="SenderBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
     <xsd:element name="RecipientBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
     <xsd:element name="OnboardingProcessID" minOccurs="0" type="OnboardingProcessID"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RequestUUID">
    <xsd:simpleContent>
     <xsd:extension base="RequestUUID.Content"/>
    </xsd:simpleContent>
   </xsd:complexType>
   <xsd:simpleType name="RequestUUID.Content">
    <xsd:restriction base="xsd:token">
     <xsd:length value="36"/>
     <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xsd:restriction>
   </xsd:simpleType>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="OnboardingNewHirePushNotificationRequest">
  <wsdl:part name="OnboardingNewHirePushNotificationRequest" element="n1:OnboardingNewHirePushNotificationRequest"/>
 </wsdl:message>
 <wsdl:message name="OnboardingNewHirePushNotificationResponse">
  <wsdl:part name="OnboardingNewHirePushNotificationResponse" element="n1:OnboardingNewHirePushNotificationResponse"/>
 </wsdl:message>
 <wsdl:portType name="ONB2ReadyToHire_In">
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_ONB2ReadyToHire_In"/>
  </wsp:Policy>
  <wsdl:operation name="ONB2ReadyToHireNotification_In">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_ONB2ReadyToHireNotification_In"/>
   </wsp:Policy>
   <wsdl:input message="tns:OnboardingNewHirePushNotificationRequest"/>
   <wsdl:output message="tns:OnboardingNewHirePushNotificationResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>